= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.association :author
    = f.input :title
    = f.input :content
    = f.input :likes

  .form-actions
    = f.button :submit
